

.App {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  
}

.title {
  font-size: 3.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  
  
}

.link {
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: large;
  
}

.link:hover {
  text-shadow: 2px 2px rgb(127, 80, 245);
}

.link:active {
  text-shadow: 0px 0px rgb(127, 80, 245);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-shrink: inherit;
    
  }

  .link {
    padding: 0.5rem;
    font-size: smaller;
    font-weight: lighter;
    
  }

  .title {
    font-size: 2.5rem;
  }
} 


@media screen and (min-width: 480px) and (max-width: 868px) {

  .container{
    display: block;
  }
}
