/*.container {
    border: black solid 1px;
} */

.wrapper {

display: flex;
justify-content:center;
flex-wrap: wrap;

}


.box {
    border: black solid 1px;
    padding: 6rem;
    margin-inline: 1.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {

    .wrapper{
        flex-direction: column;
    }

}


@media screen and (min-width: 480px) and (max-width:1024px)  {

    .wrapper{
        flex-direction: column;
    }

}