.values{
    
    margin-bottom: 1rem;
}
#forename{
    margin-left: 0.4rem;
    
}
#customer_name{
    margin-left: 0.4rem;
}

#password{
    width: 4rem;
}

#address{
    margin-left: 0.6rem;
}

#addressInput{
    
    margin-right: 1.5rem;
}
#createPassword{
    width: 17rem;
    padding-left: 3rem;
    margin-right: 9rem;
    
}

#hidden{
    display: none;
}

.lower {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 480px) {

    #address {
        margin-bottom: -4rem;
    }

#password{

display: none;
}

#createPassword{
    margin-left: 6rem;
    margin-bottom: 5rem; 
}

#hidden{
    display: flex;

}
}


@media screen and (min-width: 480px) and (max-width: 868px) {


        #createPassword{
            
            margin-bottom: 5rem;
            margin-left: 2rem; 
        }
        
 
        

}